<header>
    <div id="logo">
        <img  src="/images/Logo_coffea_sinFondo.png" alt="Logo Coffea Shop">
    </div>
    <div class="nombre">
        <p id="coffea">Coffea</p>
        <p id="shop">SHOP</p>
    </div>
    <div class="form" action="#" method="GET">
        <div class="input">Buscar productos, marcas y más</div>
        <div class="submit"><i class="fa fa-search"></i></div>
    </div>
    </div>
    <div class="inicio">            
            <a href="/">INICIO </a>
            <a href="/products">PRODUCTOS </a>
            <a href="#">NOSOTROS </a>
            <a href="/register">REGISTRATE </a>
            <a href="/login">INGRESAR  </a>
                        
    </div>
    <div class="carrito">
        <a href="iconoCarrito" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
</header>