<header>
    <div id="logo">
        <img  src="/images/Logo_coffea_sinFondo.png" alt="Logo Coffea Shop">
    </div>
    <div class="nombre">
        <p id="coffea">Coffea</p>
        <p id="shop">SHOP</p>
    </div>
    <div class="form" action="/#" method="GET">
        <div class="input">
            <input type="text" placeholder= "Buscar...">
        </div>
        <div class="submit">
            <i class="fa fa-search"></i>
        </div>
    </div>
    </div>
    <div class="inicio">            
            <a href="/">INICIO </a>
            <a href="/products">PRODUCTOS </a>
           <a href="/nosotros">NOSOTROS</a>
            <% if (locals.isLogged) { %> 
            <a href="/users/profile">HOLA <%= locals.userLogged.name %>!</a>
            <%} else { %> 
            <a href="/users/register">REGISTRATE</a>
            <a href="/users/login">INGRESAR </a>

           <% } %>                  
   
</div>
            
    <div class="carrito">
        <a href="/iconoCarrito"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>
</header>