<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head.ejs')%>
    <link rel="stylesheet" href="/styles_crear.css">
<body>
    <%- include ('../partials/header.ejs')%>
 
   <!--Formulario de registro de la pagina-->
           <main>  
   <form action="cargar_productos.ejs" method="POST" class="create-form">
           <div>
       <h1 id="titulo">Crear producto/h1>
      <!-- <p id="subtitulo">Comprá más rápido y llevá el control de tus pedidos, ¡en un solo lugar!</p>-->
   </div>
   <fieldset class="grupo"> 
      <div class="campo">
       <label for="nombre"><strong>Nombre del producto:</strong></label>
       <input type="text" name="nombre" id="nombre" placeholder="Ej.: Café Coffea origen 200g"required>
   </div>
  
    <div class="campo">
       <label for="descripción"><strong>Descripción:</strong></label>
       <textarea name="descripción" id="descripción" placeholder="Escriba la descripción" required ></textarea>
     </div>
 
     <div class="campo">
       <label for="precio"><strong>Precio:</strong></label>
       <input type="number" name="name" id="precio" placeholder="$5000">
     </div>
     
     <div class="campo">
        <label class="imagen-producto">Elegí la foto del producto</label>
        <input type="file" name="imagen-producto">
        </div>
 
   <div>
       <button  type="submit" class="boton">CREAR</button>
       <button  type="reset" class="boton">BORRAR</button>
   </div>
</fieldset>
   </main>
       </form>
 
       <!--Footer del formulario de registro de la pagina -->
 
       <%- include ('../partials/footer.ejs')%>
    
</body>

</html>