<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffea Shop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,700;1,600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,200;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/09a65808e6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div id="logo">
            <img  src="images/Logo_coffea_sinFondo.png" alt="Logo Coffea Shop">
        </div>
        <div class="nombre">
            <p id="coffea">Coffea</p>
            <p id="shop">SHOP</p>
        </div>
        <div class="form" action="#" method="GET">
            <div class="input">Buscar productos, marcas y más</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        </div>
        <div class="inicio">            
                <a href="/">INICIO </a>
                <a href="#">NOSOTROS </a>
                <a href="/registro">REGISTRATE </a>
                <a href="/login">INGRESAR  </a>
                            
        </div>
        <div class="carrito">
            <a href="iconoCarrito" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main>
        <section class="banner">
            <img src="/images/banner.jpg">
        </section>
        <br>
        <section class="productos">
        <h2>NUESTROS CAFÉS</h2>

        <div class="imagen-cafe">
            <a href="#"><img src="/images/juan_valdez.jpg"></a>
        </div>
        <div class="datos-producto">
            <a href="#" class="descrpcion-juan-valdez">Café Juan Valdéz Premiun Seleccion Colombia 340g</a>
            <p class="precio">$5000</p>
            <a href="/producto" class="boton">Ver más</a>
        </div>
        <div class="imagen-cafe">
            <a href="#"><img src="/images/pilao.jpg"></a>
        </div>
        <div class="datos-producto">    
            <a href="#" class="descrpcion-pilao">Café Pilao Tradicional Brasil 500g</a>
            <p class="precio">$3500</p>
            <a href="#" class="boton">Ver más</a>
        </div>
        <div class="imagen-cafe">
            <a href="#"><img src="/images/trung.jpeg"></a>
        </div>
        <div class="datos-producto">
            <a href="#" class="descrpcion-trung">Café Trung Nguyen Gourmet Blend Vietnam 500g</a>
            <p class="precio">$10000</p>
            <a href="#" class="boton">Ver más</a>
        </div>
        <br>
        </section>
        <section class="opinion">
            <h2>LO QUE DICEN NUESTROS CLIENTES</h2>
            <p>"Destaco el sistema de venta online y posterior delivey,hace un año soy cliente y la calidad y entrega son perfectas"</p>
            <p>Juan Pablo / La Plata, Argentina</p>
        </section>
        <section class="como-comprar">
            <h2>PASOS PARA REALIZAR TU COMPRA</h2>
            <br>
            <div class="pasos">			
            <div class="icono"><i class="fa-solid fa-cart-shopping"></i></div>
            <h3>ELEGÍ TU CAFÉ</h3>
            <p class="numero-paso">PASO 1</p>
            <p>Seleccioná el café que te guste, elegí si lo querés llevar en grano o molido y si querés comprar una bolsa de 250grs o de 1kg.</p>
            </div>
            <div class="pasos">
            <div class="icono"><i class="fa-solid fa-credit-card"></i></div>
            <h3>PAGÁ EN FORMA SEGURA</h3>
            <p class="numero-paso">PASO 2</p>
            <p>Cobramos a través de Mercado Pago, la plataforma más segura del país. Aceptamos todas las tarjetas de crédito y débito.</p>
            </div>
            <div class="pasos">
            <div class="icono"><i class="fa-solid fa-truck-fast"></i></div>
            <h3>DESPACHO EN 24HS</h3>
            <p class="numero-paso">PASO 3</p>
            <p>Llega por Correo Argentino a todo el país y tarda entre 2 a 5 días hábiles. Tu número de seguimiento servirá parar rastrearlo.</p>
            </div>
            <div class="comprar">
            <br>
            <a href="#">COMPRAR CAFÉ ONLINE</a>    
            </div>
            
        </section>
        </main>
    <footer>
        <div class="direccion">
            <a>Calle Falsa 1234 | CP (4321) | Barrio Inexistente | Provincia Ficticia | País Inventado</a>
        </div>  
        <div class="enlaces_footer">
            <a href="#"><i class="fa-solid fa-credit-card"></i> Medios de pago</a>
            <a href="#"><i class="fa-solid fa-truck"></i> Envíos</a>
            <a href="#"><i class="fa-solid fa-lock"></i> Avisos de Privacidad</a>
            <a href="#"><i class="fa-solid fa-circle-exclamation"></i> Términos y condiciones</a>
        </div>
    </footer>
    
</body>

</html>