<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Mi cuenta - Coffea</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,700;1,600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,200;1,300&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
   <link rel="stylesheet" href="css/styles_registro.css">
   <link rel="stylesheet" href="css/styles.css">
   <script src="https://kit.fontawesome.com/09a65808e6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div id="logo">
            <img  src="images/Logo_coffea_sinFondo.png" alt="Logo Coffea Shop">
        </div>
        <div class="nombre">
            <p id="coffea">Coffea</p>
            <p id="shop">SHOP</p>
        </div>
        <div class="form" action="#" method="GET">
            <div class="input">Buscar productos, marcas y más</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        </div>
        <div class="inicio">            
                <a href="/">INICIO </a>
                <a href="#">NOSOTROS </a>
                <a href="/register">REGISTRATE </a>
                <a href="/login">INGRESAR  </a>
                            
        </div>
        <div class="carrito">
            <a href="iconoCarrito" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
 
   <!--Formulario de registro de la pagina-->
           <main>  
   <form action="registro.html" method="POST" class="create-form">
           <div>
       <h1 id="titulo">Crear cuenta</h1>
       <p id="subtitulo">Comprá más rápido y llevá el control de tus pedidos, ¡en un solo lugar!</p>
   </div>
   <fieldset class="grupo"> 
      <div class="campo">
       <label for="nombre"><strong>Nombre:</strong></label>
       <input type="text" name="nombre" id="nombre" placeholder="Ej.: Juan Valdéz"required>
   </div>
  
    <div class="campo">
       <label for="email"><strong>E-mail:</strong></label>
       <input type="email" name="email" id="email" placeholder="Ej.: tunombre@email.com" required >
     </div>
 
     <div class="campo">
       <label for="telefono"><strong>Telefono (opcional):</strong></label>
       <input type="tel" name="tel" id="telefono" placeholder="Ej.: 1123456789">
     </div>
 
     <div class="campo">
         <label for="contraseña"><strong>Contraseña:</strong></label>
         <input type="password" name="password" id="contraseña" placeholder="**********" required>
         <span class="error">La contraseña debe tener al menos 8 caracteres</span>
      </div>
 
      <div class="campo">
           <label for="contraseña"><strong>Confirmar contraseña:</strong></label>
           <input type="password" name="password" id="contraseña" placeholder="**********" required>
           <span class="error">La contraseña debe ser igual a la anterior</span>
       </div>
   <div>
       <button  type="submit" class="boton">CREAR CUENTA</button>
   </div>
   <div class="sesion">
       <p>  ¿Ya tenés una cuenta? </p>
       <a href="/login">Iniciá sesión </a>
   </div>
 
</fieldset>
   </main>
 
       </form>
 
       <!--Footer del formulario de registro de la pagina -->
 
       <footer>
        <div class="direccion">
            <a>Calle Falsa 1234 | CP (4321) | Barrio Inexistente | Provincia Ficticia | País Inventado</a>
        </div>  
        <div class="enlaces_footer">
            <a href="#"><i class="fa-solid fa-credit-card"></i> Medios de pago</a>
            <a href="#"><i class="fa-solid fa-truck"></i> Envíos</a>
            <a href="#"><i class="fa-solid fa-lock"></i> Avisos de Privacidad</a>
            <a href="#"><i class="fa-solid fa-circle-exclamation"></i> Términos y condiciones</a>
        </div>
    </footer>
    
</body>

</html>