header{
    background-color: rgba(94, 83, 64, 0.95);
    font-family: 'Montserrat', sans-serif; 
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    /* width: 100vw;    */
}
.logo {
    text-align: center;
}
.logo img{
width: 20vw;
}
header .form{
    display: flex;
    flex-direction: row;
    text-align: center;    
}
header .form .input{
    display: flex;
    background-color: #FFF;  
    width: 30vw;  
    outline: none;
    color: #666;
    padding: 2px;
    margin-top: 10px;
    border-radius: 5px;
    align-self: center;
    display: none;
}
header .form .submit {
    display: flex;
    color: white;
    /* width: 40vw; */
    font-size: 6vw;
    margin: 10px;
    align-self: center;    
}
.inicio{
    display: flex;
    flex-direction: row;        
}
.inicio a{
    display: flex;
    margin: 15px;
    color: white;    
    text-decoration: none;
    display: none;
}
.carrito{
    display: flex;
    align-items: center;
    font-size: 6vw;
}
.carrito a{
    color: white;       
}
div.burger-menu{
    text-align: center;
    align-self: center;
}

div.burger-menu i{
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 20px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 20px;
}
@media(min-width: 768px){   
.logo img{ width: 6vw;}
div.burger-menu{ display: none;} 
header .form{display: flex;}
header .form .input{ 
    display: flex;    
}
.inicio a{display: flex;}
header .form .submit { 
    font-size: 2vw;
}
.carrito{
    font-size: 2vw;
}
}

/* Footer */
footer {
    background-color: rgba(94, 83, 64, 0.95);
    color:white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.direccion {
    font-size: 18px;
    width: 70vw;
    margin: auto;
    padding: 15px;
    
}
    footer a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

.enlaces_footer {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}

/*Carrito*/
main {
    font-family: 'Montserrat', sans-serif;
    
    }

h1 {
    display: flex;
    justify-content: center;
   }

img {
    width: 5vw;
}

.producto1, .producto2 {
    width: 90vw;
    border: solid black 1px;
    margin: auto;    
}

.producto1 a , .producto2 a {
    padding: 0 50px;
}

.actualizar {
    border: solid black 1px;
    width: 90vw;
    display: flex;
    justify-content: right;
    margin: auto;
    background-color: #F5ECCE ;
}

.actualizar a {
    margin-right: 20px;
    border: solid black 1px;
    background-color: white;
    text-decoration: none;
    color: black;
    }

.img-producto1 , .img-producto2 {
    display: flex;
    justify-content: center;
}    

.precio-producto1 , .cant-producto1 , .subtotal-producto1 , .precio-producto2 , .cant-producto2 , .subtotal-producto2 {
    display: flex;
    justify-content: space-between;
}

.producto-producto1 , .producto-producto2 {
    display: flex;
    justify-content: center;
}

.total {
    padding: 20px;
    }
.filaTotal {
    margin: auto;
    width: 90vw;
    display: flex;
    justify-content: left;
    border: solid black 1px;
    margin-right: 10px;
    background-color: #F5ECCE;
      
}

.subtotal {
    margin: auto;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
    margin-right: 10px;
    }
 .envio {
    margin: auto;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
    margin-right: 10px;
    }

.filafinal {
    margin: auto;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
    margin-right: 10px;
  }

.finalizar {
    margin: auto;
    width: 90vw;
    display: flex;
    justify-content: center;
    border: solid black 1px;
    margin-right: 10px;
    background-color: #F5ECCE;
   }

 .finalizar a {
     border: solid black 1px;
     background-color: white;
     text-decoration: none;
     color: black;
 }

/* Media */

 @media (min-width: 768px) {
    .producto1, .producto2 {
        width: 95vw;
        border: solid black 1px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        }
  .actualizar {
      width: 95vw;
  }
    
        .total {
        padding: 20px;
     }
    .filaTotal {
        margin: auto;
        width: 50vw;
        display: flex;
        justify-content: left;
        border: solid black 1px;
        margin-right: 10px;
        background-color: #F5ECCE;
    }
    
    .subtotal {
        margin: auto;
        width: 50vw;
        display: flex;
        justify-content: space-between;
        border: solid black 1px;
        margin-right: 10px;
        }
     .envio {
        margin: auto;
        width: 50vw;
        display: flex;
        justify-content: space-between;
        border: solid black 1px;
        margin-right: 10px;
        }
    
    .filafinal {
        margin: auto;
        width: 50vw;
        display: flex;
        justify-content: space-between;
        border: solid black 1px;
        margin-right: 10px;
      }
    
    .finalizar {
        margin: auto;
        width: 50vw;
        display: flex;
        justify-content: center;
        border: solid black 1px;
        margin-right: 10px;
        background-color: #F5ECCE;
       }
    
     .finalizar a {
         border: solid black 1px;
         background-color: white;
         text-decoration: none;
         color: black;
     }
 }

