<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffea Shop-Iniciar Sesión</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,700;1,600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,200;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles_login.css">
    <link rel="icon" href="images/Logo_coffea_sinFondo.png">
    <script src="https://kit.fontawesome.com/09a65808e6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div id="logo">
            <img  src="images/Logo_coffea_sinFondo.png" alt="Logo Coffea Shop">
        </div>
        <div class="nombre">
            <p id="coffea">Coffea</p>
            <p id="shop">SHOP</p>
        </div>
        <div class="form" action="#" method="GET">
            <div class="input">Buscar productos, marcas y más</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        </div>
        <div class="inicio">            
                <a href="/">INICIO </a>
                <a href="#">NOSOTROS </a>
                <a href="/register">REGISTRATE </a>
                <a href="/login">INGRESAR  </a>
                            
        </div>
        <div class="carrito">
            <a href="iconoCarrito" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <!-- MI REGISTRO LOGIN-->
    <main>
        
            <h1 class="iniciar-sesion"> Iniciar Sesión</h1>

            <section class="form-login"> 

                <form action="/login" method="POST" class="create-form">
                <div class="control-form"> 
                    <label>E-mail</label>
                    <input type="text" name="nombreDelUsuario" class="control" placeholder="Ej: tunombre@email.com ">
                </div>

                <div class="control-form"> 
                    <label>Contraseña</label>
                    <input type="password" name="contraseña" class="control" placeholder="********">
                    <span class="error">La contraseña debe tener al menos 8 caracteres</span>
                    
                </div>

                <div class="control-form">
                    <div class="recordarme"> 
                    <input type="checkbox" name="recordarme" value="recordarme" id="recordarme" class="control">
                    <label class="etiqueta" for="recordarme">Recordarme </label> 
                    </div>
                     
                    </div>


                <button type="submit" class="boton">INICIAR SESIÓN</button>
                <div class="help-block"><a href="#">¿Olvidaste tu contraseña?</a></div>
                <form>
        </section>


        </form>
    
    </main>
        





    <footer>
        <div class="direccion">
            <a>Calle Falsa 1234 | CP (4321) | Barrio Inexistente | Provincia Ficticia | País Inventado</a>
        </div>  
        <div class="enlaces_footer">
            <a href="#"><i class="fa-solid fa-credit-card"></i> Medios de pago</a>
            <a href="#"><i class="fa-solid fa-truck"></i> Envíos</a>
            <a href="#"><i class="fa-solid fa-lock"></i> Avisos de Privacidad</a>
            <a href="#"><i class="fa-solid fa-circle-exclamation"></i> Términos y condiciones</a>
        </div>
    </footer>
    
</body>

</html>