<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head.ejs')%>
    <link rel="stylesheet" href="../css/styles_profile.css">
<body>
    <%- include ('../partials/header.ejs')%>
    <!-- PROFILE -->
    <main>
        
            <h1>BIENVENIDO</h1>
            <section class="image">
                <img src="../images/homero.jpg">
            </section>

                   
    </main>
        





    <%- include ('../partials/footer.ejs')%>
    
</body>

</html>