<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head.ejs')%>
    <link rel="stylesheet" href="css/styles_registro.css">
<body>
    <%- include ('../partials/header.ejs')%>
 
   <!--Formulario de registro de la pagina-->
           <main>  
   <form action="/register" method="POST" class="create-form">
           <div>
       <h1 id="titulo">Crear cuenta</h1>
       <p id="subtitulo">Comprá más rápido y llevá el control de tus pedidos, ¡en un solo lugar!</p>
   </div>
   <fieldset class="grupo"> 
    <div class="campo">
        <label for="profile-image"><strong>Elegí una foto de perfil:</strong></label>
        <input type="file" name="profile-image" id="profile-image">
    </div>  
    <div class="campo">
       <label for="nombre"><strong>Nombre:</strong></label>
       <input type="text" name="nombre" id="nombre" placeholder="Ej.: Juan Valdéz"required>
   </div>
  
    <div class="campo">
       <label for="email"><strong>E-mail:</strong></label>
       <input type="email" name="email" id="email" placeholder="Ej.: tunombre@email.com" required >
     </div>
 
     <div class="campo">
       <label for="telefono"><strong>Telefono (opcional):</strong></label>
       <input type="tel" name="tel" id="telefono" placeholder="Ej.: 1123456789">
     </div>
 
     <div class="campo">
         <label for="contraseña"><strong>Contraseña:</strong></label>
         <input type="password" name="password" id="contraseña" placeholder="**********" required>
         <span class="error">La contraseña debe tener al menos 8 caracteres</span>
      </div>
 
      <div class="campo">
           <label for="contraseña"><strong>Confirmar contraseña:</strong></label>
           <input type="password" name="password" id="contraseña" placeholder="**********" required>
           <span class="error">La contraseña debe ser igual a la anterior</span>
       </div>
   <div>
       <button  type="submit" class="boton">CREAR CUENTA</button>
   </div>
   <div class="sesion">
       <p>  ¿Ya tenés una cuenta? </p>
       <a href="/login">Iniciá sesión </a>
   </div>
 
</fieldset>
   </main>
 
       </form>
 
       <!--Footer del formulario de registro de la pagina -->
 
       <%- include ('../partials/footer.ejs')%>
    
</body>

</html>